*,
*::after,
*::before{
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: var(--color-bg-page);
  color: var(--color-text-secondary);
  /* Use your typography tokens */
  font-family: var(--font-main);
  line-height: var(--leading-normal);
}

a{
  white-space: nowrap;
}


::-webkit-scrollbar {
    width: 5px;
    height: 2px;
    background-color: var(--color-border-strong);
  }
  
::-webkit-scrollbar-thumb {
background-color:  var(--color-border-default);
border-radius: var(--radius-xl);
}

