:root {

  --btn-primary-bg: var(--color-primary);
  --btn-primary-text: var(--color-text-inverse);
  --btn-primary-hover-bg: var(--color-primary-hover);
  --btn-primary-hover-text: var(--color-text-inverse);

  --btn-secondary-bg: var(--color-bg-page);
  --btn-secondary-border: var(--color-text-primary);
  --btn-secondary-text: var(--color-text-primary);
  --btn-secondary-hover-bg: var(--color-primary);
  --btn-secondary-hover-text: var(--color-text-inverse);

  --btn-cart-bg: var(--color-bg-page);
  --btn-cart-border: var(--color-text-primary);
  --btn-cart-text: var(--color-text-primary);
  --btn-cart-hover-bg: var(--color-primary);
  --btn-cart-hover-border: var(--color-primary);
  --btn-cart-hover-text: var(--color-text-inverse);
}