.container-default {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 1rem;
  }
  
.header-shadow {
    /* box-shadow: var(--shadow-sm); */
}

.dropdown-shadow {
    box-shadow: var(--shadow-md);
}
