:root {
    /* Layout   */
    --header-height: 64px;
    --header-mobile-search-height: 48px;
    --header-total-height: calc(
        var(--header-height) + var(--header-mobile-search-height)
      );
  
    /* Colors */
    --color-primary: #003D28;
    --color-primary-hover: #003D28;
    --color-brand-orange: #f26f21; 

      /* === Background Colors === */
    --color-bg-white: #ffffff;
    /* Used for the main body background below the hero */
    --color-bg-page: #FFFFFF; 
    /* Used for the search bar background */
    --color-bg-search: #f3f4f6; 

    /* === Text Colors === */
    /* Very dark gray/almost black for main headings, product titles, and prices */
    --color-text-primary: #333;  
    --color-text-secondary: #f5f6f6; /* Medium gray for descriptions, 'Categories' dropdown text, and filter text */
    --color-text-inverse: #ffffff;   /* White text for use on dark backgrounds (like top bar and solid buttons) */

    --color-border-light: #e5e7eb;
    --color-success-green: #08AC0A; 

    --heading-color: #231f1e;

    /* Radius */
    --radius-sm: 6px;
    --radius-md: 10px;
  
    /* Shadow */
    --shadow-sm: 0 1px 2px rgba(0,0,0,0.05);
    --shadow-md: 0 4px 10px rgba(0,0,0,0.08);

    /* Z-index */
    --z-header: 100;
    --z-dropdown: 50;
    --z-modal: 500;

    /* Hero Section */
    --hero-min-height-mobile: 320px;
    --hero-min-height-desktop: 420px;
    --hero-overlay-opacity: 0.3;
    --hero-text-shadow: 0 2px 4px rgba(0,0,0,0.2);
  }
  
